/*
    Layout definitions
    
=centralized
    margin-left: auto
    margin-right: auto
    display: block

header.banner
    border-bottom: 3px solid $color
    margin-bottom: 2em

nav
    margin: 1.5em
    a
        margin-right: 1em

article img
    +centralized
    margin-top: 0.25em
    margin-bottom: 0.25em
    border: $img_border

iframe
    +centralized
    margin-top: 1em
    margin-bottom: 1em
    

#container
    +centralized
    width: 800px
    margin-top: 1em
    
article.item
    margin-bottom: 5em
    .month
        margin: 0 0.5em

h1.pagetitle
    margin: 0 0 1em 1em

#article article
    margin-top: 2em

#archives
    h2
        float: left
        font-size: 2.5em
        padding-top: 1em
    article
        margin-left: 10em
        margin-bottom: 1em
        border-bottom: 2px solid #ddd

.taglist
    span
        margin-right: 0.1em