{% extends "base.html" %}

{% block header %}
    <time datetime="{{ article.date }}" pubdate>
        <span class="day">{{ article.date.day }}</span>
        <span class="month">{{ article.date.strftime('%B') }}</span>
        <span class="year">{{ article.date.year}}</span>
    </time>
    <a href="{{ pagename }}" rel="bookmark" title="Permalink to {{ article.title }}">
        <h1 class="article-title">{{ article.title }}</h1>
    </a>
{% endblock header %}

{% block main %}
<section id="article">
    <article>
        {{ article.content }}
    </article>
    {% include 'tag_list.html' %}
    <div class="share">
        {% include 'twitter.html' %}
    </div>
</section>
{% endblock main %}