<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    {% block starthead %}{% endblock starthead %}
    <!-- encoding must be specified within the first 512 bytes
        www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess
    <meta http-equiv="X-UA-Compatible" content="" -->


    <!-- meta element for compatibility mode needs to be before
        all elements except title & meta
        msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx -->
    <!-- Chrome Frame is only invoked if meta element for
        compatibility mode is within the first 1K bytes
        code.google.com/p/chromium/issues/detail?id=23003 -->

    <title>Kfir Breger</title>
    <meta name="author" content="Kfir Breger">

    <!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="">

    {% block favicons %}
    <!-- Place favicon.ico & apple-touch-icon.png
        in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/favicon.png">
    <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/apple-touch-icon.png">
    {% endblock favicons %}

    {% block css %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.css">
    <link rel="stylesheet" media="screen" href="{{ SITEURL }}/theme/css/screen.css">
    {% endblock css %}

    {% block headjs %}
    <!-- All JavaScript at the bottom, except for Modernizr which
        enables HTML5 elements & feature detects
        <script src="/theme/js/modernizr.foundation.js"></script> -->
    {% endblock headjs %}
    {% block endhead %}
    {% endblock endhead %}
</head>

<body>
    {% block content %}
    <div id="container">
        {% block container %}
        <div id="main" role="main">
            <header class="banner clearfix">
                {% block nav %}
                <nav>
                    <a href="{{ SITEURL }}"><img src="{{ SITEURL }}/theme/img/logok-color-64.png"></a>
                    <a href="http://kfirbreger.com">About</a>
                    <a href="{{ SITEURL }}/archives.html">Archives</a>
                </nav>
                {% endblock nav %}
                {% block header -%}
                {%- endblock header %}
            </header>
            {% block main %}
            {% endblock main %}
        </div>
        {% endblock container %}
    </div> <!--! end of #container -->
    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
    {% endblock content%}
    <!-- Javascript at the bottom for fast page loading -->
    {% block js %}
    {% block analytics %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22142177-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endblock %}
    {% block jquery %}
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ SITEURL }}/theme/js/libs/jquery.min.js">\x3C/script>')</script>
    {% endblock jquery %}
    {% block scripts %}
    <script src="{{ SITEURL }}/theme/js/bootstrap.js"></script>
    {% endblock scripts %}
    {% endblock js %}
</body>
</html>
