{% extends "base.html" %}

{% block main %}
<section id="articles">
{% for article in articles %}
    {% if loop.index < ARTICLES_ON_INDEX %}
        <article class="item">
            <header>
                <a href="{{ SITEURL }}/{{ article.url }}">
                    <h1 class="article-title">
                        {{ article.title }}
                    </h1>
                </a>
            </header>
            <div class="article-content">
                {{ article.content }}
            </div>
            <div class="meta">
                {% include 'tag_list.html' %}
            </div>
        </article>
    {% endif %}
{% endfor %}
</section>
{% endblock %}